---
import Layout from '../layouts/Layout.astro';
import ClosestMotoGPEvent from '../components/ClosestMotoGPEvent.jsx';
---

<html>
  <head>
    <title>MotoGP Closest Event</title>
  </head>
  <body>
    <main>
      <ClosestMotoGPEvent client:load/>
    </main>
  </body>
</html>


