---
import StandingsAndResults from '../components/StandingsAndResults';
import Layout from '../layouts/Layout.astro';

import Footer from '../sections/footer.astro';
import NextEvent from '../components/NextEvent';
import Title from '../sections/title.astro';
---

<Layout title="MotoGP Schedules">
  <main>
    <Title title="MotoGP Schedules" />
    <NextEvent client:load/>
    <StandingsAndResults client:load/>
  </main>
  <Footer />
</Layout>