---
import Layout from '../layouts/Layout.astro';
import ClosestMotoGPEvent from '../components/ClosestMotoGPEvent.jsx';

import Classification from '../sections/Classification.astro';
import Footer from '../sections/footer.astro';
import NextEvent from '../sections/NextEvent.astro';
import Title from '../sections/title.astro';
---

<Layout title="MotoGP Closest Event">
  <main>
    <Title title="Closest MotoGP Event" />
    <NextEvent/>
    <Classification/>
  </main>
  <Footer />
</Layout>