---
import Layout from '../layouts/Layout.astro';

import Classification from '../sections/Classification.astro';
import Footer from '../sections/footer.astro';
import NextEvent from '../sections/NextEvent.astro';
import Title from '../sections/title.astro';
---

<Layout title="MotoGP Schedules">
  <main>
    <Title title="MotoGP Schedules" />
    <NextEvent/>
    <Classification/>
  </main>
  <Footer />
</Layout>