<section class="flex flex-col justify-center items-center max-w-6xl px-9 pt-20 pb-20 mx-auto">
    <img src="assets/Moto_Gp_logo.svg" alt="About" class="about w-1/2">
    <span class="uppercase text-black text-6xl font-extrabold mt-5">SCHEDULES</span>
</section>